header {
  background-color: #d2d2d2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10vw;
  font-size: 5vw;
  background-color: #9453a6;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.45);
}
header img {
  width: 12vw;
}

* {
  font-family: "Pattaya";
  font-family: "Henny Penny";
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #d2d2d2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10vw;
  font-size: 5vw;
  background-color: #9453a6;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.45);
  position: relative;
}
header img {
  width: 12vw;
}
header h1 {
  font-size: 2em;
}

nav {
  max-width: 100%;
  background: #f2cc0f;
}
nav .top-nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  font-size: 1.1vw;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.45);
}
nav .top-nav .nav-bar a {
  border-top: none;
  display: inline-block;
  padding: 16px 20px;
  cursor: pointer;
  position: relative;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  border-block: 1px solid black;
}
nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5vw 5vw;
  width: 5vw;
  height: 3vw;
}

.top-nav1, .burger-container {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

.accordion {
  border: 2px black solid;
  height: 90svh;
  width: 60svw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(to left top, #8cbf3f, #F2CC0F, #9453a6);
}

.part1Fall,
.part2Fall,
.part3Fall,
.part4Fall {
  display: none;
  font-size: 1svw;
  text-align: left;
  border-top: 1px solid black;
  height: 8.8svw;
}

.part {
  border: 2px solid black;
  height: 100svh;
  display: flex;
  align-items: center;
  transition: 1s;
  position: relative;
  justify-content: center;
  z-index: 7;
}
.part h1 {
  font-size: 3svw;
}

.part1 {
  display: flex;
  justify-content: center;
}

.move-right {
  transform: translateX(100%);
}

span {
  position: absolute;
  left: -8%;
  font-size: 4vw;
}

.part1Fall {
  position: absolute;
  top: 0%;
  z-index: auto;
}

.part2Fall {
  position: absolute;
  top: 25%;
  z-index: auto;
}

.part3Fall {
  position: absolute;
  top: 50%;
  z-index: auto;
}

.part4Fall {
  position: absolute;
  top: 75%;
  z-index: auto;
}

#part1 {
  background-color: #9453a6;
}

#part2 {
  background-color: #f2cc0f;
}

#part3 {
  background-color: #8cbf3f;
}

#part4 {
  background-color: #9453a6;
}

p {
  margin-right: 4svw;
  text-align: left;
  font-size: 1.3svw;
}

@media only screen and (max-width: 861px) {
  p {
    font-size: 3svw;
  }
  .burger-container {
    display: block;
    top: 10%;
    left: 10%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  .burger-container #burger {
    padding: 5px;
    width: 7vw;
    background-color: beige;
    border-radius: 20px;
  }
  .top-nav1 {
    display: none;
  }
  .top-nav1 li {
    padding-block: 0.7vh;
    list-style: none;
    width: 80svw;
  }
  nav {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
}
* a {
  color: blue;
}

body {
  background-image: linear-gradient(to right bottom, #8cbf3f, #F2CC0F, #9453a6);
}
body #head {
  margin-top: 1svw;
}/*# sourceMappingURL=mais.css.map */