header {
  background-color: #d2d2d2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10vw;
  font-size: 5vw;
  background-color: #9453a6;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.45);
}
header img {
  width: 12vw;
}

header {
  background-color: #d2d2d2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10vw;
  font-size: 5vw;
  background-color: #9453a6;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.45);
  position: relative;
}
header img {
  width: 12vw;
}
header h1 {
  font-size: 2em;
}

nav {
  max-width: 100%;
  background: #f2cc0f;
}

.burger-container {
  border: 1px solid black;
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 900;
  position: absolute;
  background-color: antiquewhite;
  top: 9%;
  left: 92%;
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to left bottom, #8cbf3f, #8cbf3f, #F2CC0F, #9453a6, #9453a6);
  overflow: auto;
}

h1 {
  font-size: 8vh;
  margin-block: 3vh;
  color: aliceblue;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
}
main .Form {
  width: 25vw;
  height: 100vh;
  border: 1px solid black;
  padding: 2vw;
  background-image: linear-gradient(to right top, #8cbf3f, #8cbf3f, #F2CC0F, #9453a6, #9453a6);
  border-radius: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .Form form {
  width: 25vw;
  display: flex;
  flex-direction: column;
}
main .Form form label {
  font-size: 3vw;
}
main button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  padding-inline: 1.5vw;
  font-size: 5em;
  border-radius: 0.5vw;
  text-align: center;
  margin-block: 5vh;
}
main input {
  height: 2vw;
  border-radius: 0.5vw;
  overflow-wrap: break-word;
  width: 25vw;
}
main input::-moz-placeholder, main textarea::-moz-placeholder {
  font-size: 1.1vw;
}
main input::placeholder, main textarea::placeholder {
  font-size: 1.1vw;
}
main input[type=text], main textarea[type=text] {
  font-size: 1.5vw;
}
main textarea {
  height: 5012vh;
  box-sizing: border-box;
  font-size: 1.5vw;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  -o-border-image: initial;
     border-image: initial;
  vertical-align: top;
  line-height: 1.5;
  overflow-wrap: break-word;
  border-radius: 0.5vw;
  resize: none;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
footer ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5vw 5vw;
  width: 2px;
  height: 3vw;
}

@media only screen and (max-width: 861px) {
  .burger-container {
    display: block;
    top: 10%;
    left: 90%;
    position: relative;
  }
  .burger-container #burger {
    padding: 5px;
    width: 7vw;
    position: absolute;
    background-color: beige;
    border-radius: 20px;
  }
  .top-nav1 {
    display: none;
    position: absolute;
    left: -250%;
    top: 3vh;
  }
  .top-nav1 li {
    padding-block: 0.7vh;
    padding-right: 100px;
  }
}
nav {
  display: none;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main h1 {
  font-size: 2em;
}
main .Form {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .Form form {
  width: -moz-max-content;
  width: max-content;
  width: 90vw;
  height: 50vh;
}
main .Form form label {
  font-size: 2em;
}
main .Form form input {
  width: 90vw;
  height: 7vw;
}
main .Form #btn {
  padding-bottom: 8vw;
}
main .Form #Submit {
  font-size: 2em;
  height: 5vh;
  width: 30vw;
  border-radius: 20px;
}/*# sourceMappingURL=main.css.map */