@forward '../Home/header';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #d2d2d2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10vw;
    font-size: 5vw;
    background-color:#9453a6 ;
    text-shadow: 1px 1px 4px rgba(0,0,0,.45);
    img{
        width: 12vw;
    }
    h1{
        font-size: 2em;
    }
}
nav{
    max-width: 100%;
    background: #f2cc0f;

.top-nav{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    font-size: 1.1vw;
    text-shadow: 1px 1px 4px rgba(0,0,0,.45);
    .nav-bar{
         a {
            border-top: none;
            display: inline-block;
            padding: 16px 20px;
            cursor: pointer;  
            position: relative;
            }
        }
    }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        border-block: 1px solid black;
        li{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5vw 5vw;
            width: 5vw;
            height: 3vw;
        }
    }
}
.burger-container{
    border: 1px solid black;
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 900;
    position: absolute;
    background-color: antiquewhite;
    top:9%;
    left: 92%;
    display: none;
}

body{
    background-image:linear-gradient(to left bottom, #8cbf3f, #8cbf3f, #F2CC0F, #9453a6, #9453a6);
}
h1{
    font-size: 8vh;
    margin-block: 3vh;
    color: aliceblue;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    .Form{
        width: 50vw;
        border: 1px solid black;
        padding: 2vw;
        background-image:linear-gradient(to right top, #8cbf3f, #8cbf3f, #F2CC0F, #9453a6, #9453a6);
        border-radius: 2vw;
        display: flex;
        flex-direction: column;
        form{
            display: flex;
            flex-direction: column;
            label{
                font-size:3vw;
            }
            
        }
    }
    #btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2vw;
        button{
            padding: 0.5vw;
            padding-inline: 1.5vw;
            font-size: 1vw;
            border-radius: 0.5vw;
        }
    }
}

input{
    height: 2vw;
    border-radius: 0.5vw;
    overflow-wrap: break-word;
    width: 46vw;
}
input::placeholder, textarea::placeholder{
    font-size: 1.1vw;

}
input[type="text"],textarea[type="text"] {
    font-size:1.5vw;
}
#FreeText1{
    height: 20vh;
    box-sizing: border-box;
    font-size:1.5vw;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    vertical-align: top;
    line-height: 1.5;
    overflow-wrap: break-word;
    border-radius: 0.5vw;
}


@media only screen and (max-width: 861px) {
.burger-container{
    display: block;
    top:10%;
    left: 90%;
    position: relative;
    #burger{
      padding: 5px;
      width: 7vw;
      position: absolute;
      background-color: beige;
      border-radius: 20px;
    }
  }
  .top-nav1{
    display: none;
    position: absolute;
    left: -250%;
    top: 3vh;
    li{
      padding-block: 0.7vh;
      padding-right: 100px;
    }
  }
}
nav{
    display:none;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h1{
        font-size: 2em;
    }
    .Form{
        width: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        form{
            width: max-content;
            width: 90vw;
            height: 50vh;
            label{
                font-size: 2em;
            }
            input{
                width: 90vw;
                height: 7vw;
            }
        }
        #btn{
            padding-bottom: 8vw;
        }
        #Submit{
            font-size: 2em;
            height: 5vh;
            width: 30vw;
            border-radius: 20px;
            
        }
    }
}






