header {
  background-color: #d2d2d2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10vw;
  font-size: 5vw;
  background-color: #9453a6;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.45);
}
header img {
  width: 12vw;
}

header {
  background-color: #d2d2d2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10vw;
  font-size: 5vw;
  background-color: #9453a6;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.45);
  position: relative;
}
header img {
  width: 12vw;
}
header h1 {
  font-size: 2em;
}

nav {
  max-width: 100%;
  background: #f2cc0f;
}
nav .top-nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  font-size: 1.1vw;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.45);
}
nav .top-nav .nav-bar a {
  border-top: none;
  display: inline-block;
  padding: 16px 20px;
  cursor: pointer;
  position: relative;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  border-block: 1px solid black;
}
nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5vw 5vw;
  width: 5vw;
  height: 3vw;
}

.top-nav1, .burger-container {
  display: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
}
* a, * ul, * li {
  text-decoration: none;
  list-style: none;
  color: blue;
}
* .phoneTop {
  display: none;
}

body {
  background-image: linear-gradient(to left bottom, #8cbf3f, #F2CC0F, #9453a6);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 3vw;
  position: relative;
}
main .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .top .bigPic {
  max-height: 100vh;
  max-width: 80vw;
  position: absolute;
  display: flex;
  top: 8%;
  justify-content: center;
}
main .top .bigPic img {
  width: 50vw;
}

.libraryContainer {
  display: flex;
  align-items: center;
  margin: 2vw;
}
.libraryContainer .picLibrary {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vw;
  width: 80vw;
  border-radius: 20px;
  background-color: #9453a6;
}
.libraryContainer .picLibrary img {
  width: 10vw;
  margin: 0.8vw;
  cursor: zoom-in;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
  opacity: 0;
}

.leftBtn,
.rightBtn {
  border: solid black 1px;
  border-radius: 100%;
  padding: 5px;
  font-weight: 900;
  font-size: 40px;
  background-color: aliceblue;
}

.youtube {
  display: flex;
  justify-content: center;
  align-items: center;
}
.youtube iframe {
  margin: 10vh;
  width: 20vw;
  height: 20vw;
}

h1 {
  font-size: 5vw;
}

footer {
  background-color: #d2d2d2;
}

@media only screen and (max-width: 861px) {
  .top {
    display: none !important;
  }
  main {
    height: 100svh;
  }
  .phoneTop {
    display: block;
  }
  .phoneTop #photo-slide {
    display: flex;
    align-items: center;
  }
  .phoneTop #photo-slide .leftBtn1, .phoneTop #photo-slide .rightBtn1 {
    border: 2px solid black;
    border-radius: 50%;
    background-color: aliceblue;
    margin: 5px;
  }
  .burger-container {
    display: block;
    top: 10%;
    left: 10%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  .burger-container #burger {
    padding: 5px;
    width: 7vw;
    background-color: beige;
    border-radius: 20px;
  }
  .top-nav1 {
    display: none;
  }
  .top-nav1 li {
    padding-block: 0.7vh;
    list-style: none;
    width: 80svw;
    text-align: center;
  }
  nav {
    display: none;
  }
  .top {
    display: none;
  }
  #phoneSlide {
    width: 80svw;
  }
  h1 {
    margin: 5svw;
  }
  .youtube {
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */