@media only screen and (max-width: 861px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
      display: flex;
      flex-direction: column;
      width: 90svw;
    }
    .onParade , .part1, .part2{
        z-index: 1;
        display: flex;
        flex-direction: column;
        img{
            width: 60vw;
        }
    }
    .part2{
        display: flex;
        flex-direction: column-reverse;
    }
    nav{
      display: none;
    }

    // .burger-container{
    //     display: block !important;
    //     position: relative;
    //     left: 30px !important;
    //     top: 50px ;
        
    //     #burger{
    //       width: 1vw;
    //       background-color: beige;
    //       border-radius: 20px;
    //     }
    //   }
    //   .top-nav1{
    //     display: none;
    //     top: 1vh;
    //     li{
    //         padding-block: 0.7vh;
    //         width: 80svw;
    //         list-style: none;
    //         text-align: center;
    //     }
        
    //   }
    // }
    .burger-container{
      display: block !important;
      // display: flex !important;
      // justify-content: flex-start !important;
      border: none !important;
      z-index: 999 !important;
      
      #burger{
        padding: 5px;
        width: 6vw;
        background-color: beige;
        border-radius: 20px;
      }
    }
    .top-nav1{
      display: none;
    
      }
      li{
        padding-block: 0.7vh;
        list-style: none;
        width: 70svw;
        text-align: center;
      }
    
  
  nav{
      display:none;
  }
  .top{
      display: none;
  }
}
