@forward '../Home/header';
@forward '../font.scss';
@import './phone';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    z-index: 7;
    a , ul , li{
        text-decoration: none;
        list-style: none; 
          color: blue;
        
    }
    body{
    display:flex ;
    flex-direction: column;
    background-image: linear-gradient(to left top, #8cbf3f,#F2CC0F, #9453a6);
    main{
        margin-inline: 3vw;
        width: 85svw;
        #mayor{
            position: relative;
        }
        
        h1{
            font-size:6vh ;
        }
        p{
            font-size: 2.6vh;
            word-spacing: 5px;
            line-height: 4vh;
            margin-inline: 4vw;
        }
    }  
    }    
}
.burger-container{
    border: 1px solid black;
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 900;
    background-color: antiquewhite;
    top:12%;
    left: 92%;
    display: none;
}
nav{
    max-width: 100%;
    background: #f2cc0f;

.top-nav{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    font-size: 1.1vw;
    text-shadow: 1px 1px 4px rgba(0,0,0,.45);

    .nav-bar{
         a {
            border-top: none;
            display: inline-block;
            padding: 16px 20px;
            cursor: pointer;  
            position: relative;
            }
        }
    }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        border-block: 1px solid black;
        li{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5vw 5vw;
            width: 5vw;
            height: 3vw;
        }
    }
}
#mayor{
    margin-block: 2vh;
    border: 5px solid #f2f2f2;
    border-radius: 8vw;  
}
.part1, .part2{
    display: flex;
    img{
    max-width: 75vw;
    border-radius: 20vw;
    margin-inline: 1vw;
    }
    .img{
    display: flex;
    align-items: center;
    justify-content: center;
}
}


