@import './header';
@import './nav-top';
@import './mid-top';
@import './mayor';
@import './middle';
@import './footer';
@import'./_phone.scss';
*{
    padding: 0;
    margin: 0;
    box-sizing : border-box;
    a , ul , li{
        text-decoration: none;
        list-style: none; 
          color: blue;
        
    }
}
button{
    border: rgb(255, 254, 254) solid 1px;
    margin-block: 1vw;
    padding-inline: 1vw;
    text-align: center;    
    border-radius: 6px;
    box-shadow:
    0px 1px 1px rgba(000,000,000,0.5),
    inset 1px 2px 0px rgba(255,255,255,0.4);
    text-shadow:
    1px 1px 2px rgba(000,000,000,0.7),
    0px 1px 0px rgba(255,255,255,0.4);
    color: #ffff;
    cursor: pointer;
}
.Phone{
    display: none;
}


