header {
  background-color: #d2d2d2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10vw;
  font-size: 5vw;
  background-color: #9453a6;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.45);
}
header img {
  width: 12vw;
}

nav {
  max-width: 100%;
  background: #f2cc0f;
}
nav .top-nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  font-size: 1.1vw;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.45);
}
nav .top-nav .nav-bar a {
  border-top: none;
  display: inline-block;
  padding: 16px 20px;
  cursor: pointer;
  position: relative;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  border-block: 1px solid black;
}
nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5vw 5vw;
  width: 5vw;
  height: 3vw;
}

.burger-container {
  border: 1px solid black;
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 900;
  position: absolute;
  background-color: antiquewhite;
  top: 9%;
  left: 92%;
  display: none;
}

.mid-top {
  height: 40vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 6;
  margin-bottom: 20px;
}
.mid-top #photo-slide img {
  max-height: 40vw;
  width: 100%;
}

.mayor {
  display: flex;
  padding: 3vw;
  margin-block: 2vw;
  height: 45vw;
  text-align: center;
  background-color: #8cbf3f;
}
.mayor button {
  font-size: 2vw;
  border: rgb(255, 254, 254) solid 1px;
  margin-block: 1vw;
  padding-inline: 1vw;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5), inset 1px 2px 0px rgba(255, 255, 255, 0.4);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7), 0px 1px 0px rgba(255, 255, 255, 0.4);
  color: white;
  cursor: pointer;
}

.mayor-pic img {
  height: 15vw;
  border-radius: 50%;
  margin-inline: 1vw;
}

.mayor-sec {
  display: flex;
  align-items: center;
  font-size: 2vw;
  flex-shrink: 0;
  width: 50%;
  height: 80%;
  border: solid #f2cc0f 2px;
  border-radius: 2vw;
  margin-right: 1vw;
  padding-inline: 1vw;
}

.mayor-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}

.about-text {
  font-size: 2vh;
}
.about-text h2, .about-text h1 {
  margin-bottom: 1vw;
  font-size: 3vw;
}
.about-text p {
  margin-bottom: 1vw;
  font-size: 2vw;
}

.middle {
  display: flex;
  flex-direction: column;
}

.sponsors-background {
  height: 100vw;
  width: 100%;
  position: absolute;
  z-index: 1;
  margin-top: 10px;
  overflow: clip;
}
.sponsors-background div {
  height: 110vw;
  width: 100vw;
}
.sponsors-background .green-container {
  background-image: url(https://www.mardigrasneworleans.com/templates/client/imagesNew/xctaGreen.jpg.pagespeed.ic.i3Eh3W2VFn.jpg);
}
.sponsors-background .yellow-container {
  rotate: -10deg;
  background-image: url(https://www.mardigrasneworleans.com/templates/client/imagesNew/xctaGold.jpg.pagespeed.ic.1CGLNPuFil.jpg);
}
.sponsors-background .purple-container {
  rotate: -30deg;
  background-image: url(https://www.mardigrasneworleans.com/templates/client/imagesNew/xctaPurple.jpg.pagespeed.ic.1X0CuzM3mm.jpg);
}

.sponsors-container {
  height: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sponsors-container h1 {
  font-size: 7vw;
  margin-block: 30px 60px;
  text-align: center;
  z-index: 6;
}
.sponsors-container #sponsors {
  max-width: 70vw;
  display: grid;
  -moz-column-gap: 50px;
       column-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 50px;
  z-index: 6;
}
.sponsors-container #sponsors img {
  max-height: 20vw;
  border-radius: 20px;
  transition-duration: 0.3s;
  width: 17vw;
}
.sponsors-container #sponsors .grid-cell {
  height: 23vw;
  max-width: 20vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.sponsors-container #sponsors .lastTwo {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 4;
  padding-inline: 15%;
  -moz-column-gap: 100px;
       column-gap: 100px;
}

.sponsors-container .grid-cell:hover img {
  position: relative;
  top: -82%;
  transform: rotateY(200deg);
  z-index: 7;
  margin-bottom: 3vw;
  box-shadow: -1px 5px 10px #000000;
}

.container {
  max-height: 450px;
  max-width: 18vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.container .card {
  text-align: center;
  color: aliceblue;
  max-width: 100%;
  opacity: 0;
  margin-top: 0.3vw;
  padding-inline: 1vw;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
  transition: 0.1s ease-out;
  box-shadow: 10px 15px 1px rgba(0, 0, 0, 0.5), inset 1px 2px 0px rgba(255, 255, 255, 0.4);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7), 0px 1px 0px rgba(255, 255, 255, 0.4);
}
.container .card h2 {
  font-size: 1.5vw;
}
.container .card h3 {
  font-size: 1.5vw;
}

.grid-cell:hover .card {
  opacity: 1;
}

button {
  font-size: 2vw;
  border: rgb(255, 254, 254) solid 1px;
  margin-block: 1vw;
  padding-inline: 1vw;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5), inset 1px 2px 0px rgba(255, 255, 255, 0.4);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7), 0px 1px 0px rgba(255, 255, 255, 0.4);
  color: white;
  cursor: pointer;
}

.on-spons {
  position: absolute;
  transition-duration: 0.5s;
  color: beige;
  padding-top: 15vw;
  font-size: 1.2vw;
  text-align: center;
  text-shadow: 5px 5px 10px #000000;
}

.grid-cell:hover .on-spons {
  top: -82%;
  transform: rotateY(200deg);
  z-index: 7;
  margin-bottom: 3vw;
}

button:hover {
  box-shadow: -2px 2px 10px black;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-block: 1vw;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* a, * ul, * li {
  text-decoration: none;
  list-style: none;
}

button {
  border: rgb(255, 254, 254) solid 1px;
  margin-block: 1vw;
  padding-inline: 1vw;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5), inset 1px 2px 0px rgba(255, 255, 255, 0.4);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7), 0px 1px 0px rgba(255, 255, 255, 0.4);
  color: white;
  cursor: pointer;
}

.Phone {
  display: none;
}

@media only screen and (max-width: 861px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #burger {
    display: block;
  }
  body {
    width: 100vw;
  }
  nav {
    display: none;
  }
  .mayor {
    display: flex;
    flex-direction: column;
    height: 170vh;
  }
  .mayor h2 {
    margin-top: 1vh;
    font-size: 5vw;
  }
  .mayor p {
    font-size: 5vw;
  }
  .mayor h1 {
    font-size: 8vw;
  }
  .mayor-sec {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 65vh;
    font-size: 6vw;
    padding-bottom: 3vh;
  }
  .mayor-sec img {
    width: 30vw;
    height: 25vh;
    border-radius: 2vw;
    margin-top: 2vw;
  }
  .mayor-sec button {
    padding: 1vh 7vw;
    font-size: 4vw;
  }
  .sponsors-container, .sponsors-background {
    display: none;
  }
  .Phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
  }
  .phone-spons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    text-align: center;
  }
  .phone-spons button {
    padding: 1vh 5vw;
    margin-block: 3vh;
    border-color: black;
  }
  .phone-spons img {
    width: 40vw;
    border-radius: 20%;
  }
  .burger-container {
    display: block;
    top: 10%;
    left: 90%;
    position: relative;
  }
  .burger-container #burger {
    padding: 5px;
    width: 20vw;
    position: absolute;
    background-color: beige;
    border-radius: 20px;
  }
  .top-nav1 {
    display: none;
    position: absolute;
    left: -250%;
    top: 3vh;
  }
  .top-nav1 li {
    padding-block: 0.7vh;
    padding-right: 100px;
  }
}/*# sourceMappingURL=main.css.map */