.mid-top{
    height: 40vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 6;
    margin-bottom: 20px;
    
    #photo-slide img{
        max-height: 40vw;
        width: 100%;
    }
}